@font-face {
    font-family: "LucidaSans-Italic";
    src: url("assets/fonts/LucidaSans-Italic.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "opensans";
    src: url("assets/fonts/opensans.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "SegoeUI-Light";
    src: url("assets/fonts/SegoeUI-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "SegoeUI";
    src: url("assets/fonts/SegoeUI.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Asap";
    src: url("assets/fonts/Asap-Regular.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-size: 1rem;
}

html {
    -webkit-overflow-scrolling: touch;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h3,
h1,
h2,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

section {
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: silver;
}

.container {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}

.header {
    margin-top: 50px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    color: #ffffff;
    display: inline-block;
    font-size: 41px;
    letter-spacing: 0px;
    font-family: "LucidaSans-Italic";
    font-style: italic;
    text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
    text-transform: uppercase;
    position: relative;
    padding-left: 120px;
    line-height: 1;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.logo__title::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 83px;
    height: 83px;
    background-image: url("assets/images/logo.svg");
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    -webkit-box-shadow: -5px -4px 0px 0px rgba(245, 197, 6, .67), -8px 8px 0px 0px rgba(245, 197, 6, .27);
    box-shadow: -5px -4px 0px 0px rgba(245, 197, 6, .67), -8px -8px 0px 0px rgba(245, 197, 6, .27);
}

.navigation__item {
    position: relative;
}

.navigation__item::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 97%;
    background-color: #dcb105;
}

.navigation__link {
    display: flex;
    font-size: 17px;
    color: #9b7d08;
    font-family: "SegoeUI";
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.navigation__link-wrap {
    position: relative;
    padding-left: 28px;
}

.navigation__link-wrap::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
}

.navigation__link-wrap_about::before {
    width: 21px;
    background-image: url("assets/images/person.svg");
}

.navigation__link-wrap_services::before {
    background-image: url("assets/images/setting.svg");
}

.navigation__link-wrap_contact::before {
    width: 24px;
    height: 18px;
    background-image: url("assets/images/message.svg");
}

.hero {
    background-image: url("assets/images/bg-video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 80px 0;
}
.hero__container{
  display: flex;
  z-index: 5;
}
.video-player__title {
    font-size: 60px;
    letter-spacing: 1px;
    color: #f5c506;
    font-family: "Asap";
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1;
}
.hero__wrapper{
  position: relative;
  display: flex;
}
.video-navigation{
  position: absolute;
  width: 100%;
  height: 57px;
  background-color: aquamarine;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.video-navigation__btn{
  height: 100%;
width: 32px;
background-color: blue;
z-index: 3;
background-repeat: no-repeat;
background-position-x: center;
    background-position-y: center;
}
.hero__text{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.video-player__title_white{
  color: #fff;
}
.video-navigation__btn_prev{
  background-image: url("assets/images/arrow.svg");
}
.video-navigation__btn_next{
  background-image: url("assets/images/arrow.svg");
  transform: rotate(180deg);
}

.player{
  position: relative;
}
.player__play{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #f5c506;
  opacity: 0.7;
  background-image: url("assets/images/play.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.player-state{
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 18px;
  background-color: #435;
  display: flex;
  padding: 0 29px;
  align-items: center;
}
.player-state__play{
  width: 27px;
  height: 27px;
  border-radius: 0;
  background-color: #f5c506;
  background-image: url("assets/images/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}
.player-state__volume{
  width: 27px;
  height: 27px;
  background-image: url("assets/images/volume.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.player-state__playback{
  height: 16px;
    width: 446px;
    position: relative;
}
.player-state__playback::before{
  content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background-color: #f5c506;
    opacity: 0.28;
    display: block;
    transform: translateY(-50%);
}
.layer-state__playback-button{
  background-color: #f5c506;

  border-radius: 50px;
  border: none;
  width: 43%;
  height: 12px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}